## .NET
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
.vs/
*.dll
*.exe
*.pdb

## Node/Angular
node_modules/
dist/
npm-debug.log
.angular/
*.tgz

## Environment
.env
appsettings.Local.json

## OS
.DS_Store
Thumbs.db
$null
-p

## Documentation - removed files
*.tmp
*.bak
